:root {
  --slate: #434455;
  --navy-blu: #2e2f42;
  --cornflower: #e7e9fc;
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --white: #fff;
  --cloud: #f4f4fd;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  background: var(--white);
  color: var(--slate, #434455);
}

/*Header*/
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris, #4d5ae5);
}

.link {
  text-decoration: none;
}

.logo-studio {
  color: var(--navyblue, #2e2f42);
}

.list {
  list-style: none;
}

.text-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.contact-box {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate, #434455);
}

.contact-box:hover,
.contact-box:focus {
  color: var(--ocean, #404bbf);
}

/* Main*/
.title-box {
  background: var(--navyblue, #2e2f42);
}
.main-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white, #fff);
}

.main-button {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.main-button:hover,
.main-button:focus {
  background-color: #404bbf;
  cursor: pointer;
}

.main-advantages-section {
  font-weight: 500;
}

.advantages-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navyblue, #2e2f42);
}

.advantages-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate, #434455);
}

.opportunities-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navyblue, #2e2f42);
}

.main-section-team {
  background-color: #f4f4fd;
}

.card-name {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navyblue, #2e2f42);
}

.card-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate, #434455);
}

/*Portfolio*/
.portfolio-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--iris, #4d5ae5);
  background-color: var(--cloud, #f4f4fd);
}

.portfolio-button:hover,
.portfolio-button:focus {
  color: #fff;
  background-color: #404bbf;
  cursor: pointer;
}

/* Footer*/
.logo-studio-footer {
  color: var(--cloud, #f4f4fd);
}

.footer-box {
  background: var(--navyblue, #2e2f42);
}

.paragraf-box {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud, #f4f4fd);
}
