/* Declaration of variables*/
:root {
  --brend-color: #434455;
  --brend-title-color: #2e2f42;
  --cornflower: #e7e9fc;
  --brend-color-logo: #4d5ae5;
  --active-link: #404bbf;
  --main-title: #fff;
  --team-background: #f4f4fd;
}

/* Body */
body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  background: #fff;
  color: var(--brend-color);
  /* width: 1440px;*/
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.logo-link {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--brend-title-color);
}

h1,
h2 {
  color: var(--brend-title-color);
  font-weight: 700;
  text-align: center;
}

h2 {
  font-size: 36px;
  text-transform: capitalize;
}

h3 {
  font-weight: 500;
  font-size: 20px;
  color: var(--brend-title-color);
}

p {
  color: var(--brend-color);
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}

.button-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
/*
.placement-in-a-line {
  display: flex;
  flex-direction: row;
}

/* Header
.top-line {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid var(--cornflower);
  width: 1440px;
  height: 52px;
  margin: 0;
}

/*Logo*/
.logo-box {
  /* width: 116px;
  height: 21px;*/
  padding-top: 18px;
  margin-left: 156px;
  margin-right: 40px;
}

.logo {
  font-family: "Raleway", sans-serif;
  color: var(--brend-color-logo);
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-studio {
  color: var(--brend-title-color);
}

.navbox {
  margin-left: 40px;
  font-size: 18px;
  font-weight: 500;
}

.navbox:hover,
.navbox:focus {
  color: var(--active-link);
  /* border-radius: 2px;*/
}

.navbox1 {
  color: var(--brend-color);
  font-weight: 400;
  font-size: 16px;
  margin-left: 40px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.navbox1:hover {
  color: var(--active-link);
}

.navbox1:focus {
  color: var(--active-link);
}

.contacts {
  margin-left: 200px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--brend-color);
}

/*Main*/
.title-box {
  /*  width: 1440px;
  height: 600px;
  flex-shrink: 0;*/
  background: var(--brend-title-color);
  margin: 0 0 120px 0;
  padding: 188px 472px 0 0;
  text-align: center;
}
/*
.title {
  padding: 188px 472px 0 0;
}*/

.text-title {
  color: var(--main-title);
  text-align: center;
  font-size: 56px;
  line-height: 1.07;
  line-height: 60px;
  /* width: 1440px;*/
  letter-spacing: 0.02em;
  text-align: center;
}

/*Button*/
.main-button {
  /* display: flex;
  width: 180px;*/
  margin: 64px 636px 188px 636px;

  /*  flex-direction: column;
  align-items: flex-end;
  border-radius: 4px;*/
  background: var(--brend-color-logo);
  color: var(--main-title);
}

.main-button:hover {
  background: var(--active-link);
}

.button-text {
  font-size: 16px;
  padding: 16px 32px 16px 32px;
}

/* Section2 */
.main-section2 {
  margin: 0 156px 120px 156px;
}

.feature {
  margin-right: 24px;
  /* width: 264px;*/
}

.images {
  margin-right: 24px;
}

/* Section Our Team*/
.main-section-team {
  background: var(--team-background);
  /* height: 732px;*/
}

.title-team {
  padding: 120px 0 72px 0;
}

.team-box {
  margin: 0 156px 120px 156px;
}

.card {
  margin-right: 24px;
  /*  width: 264px;*/
  text-align: center;
  background: var(--main-title);
}

.card-signature {
  /*  width: 232px;
  height: 56px;*/
  padding: 32px 16px 32px 16px;
}

.card-name {
  padding: 0;
  margin: 0 0 8px 0;
}

/*Portfolio main. Section 1*/
.filter {
  /* width: 1860px;
  height: 48px;*/
  margin: 96px 0 72px 427px;
}

.portfolio-button {
  background-color: var(--team-background);
  padding: 12px 24px 12px 24px;
  margin-left: 24px;
}

.portfolio-button:hover,
.portfolio-button:focus {
  background-color: var(--active-link);
}

.portfolio-button-text {
  color: var(--brend-color-logo);
}

.portfolio-button-text:hover,
.portfolio-button-text:focus {
  color: var(--main-title);
}

.project-box {
  margin: 0;
  padding: 0 0 34px 0;
}

.project-box-row {
  margin: 0 156px 48px 156px;
}
/*
.project-box-row > .project-card {
  border: 1px solid var(--cornflower);
}*/

.project-card {
  /* width: 360px;
  height: 420px;*/
  margin-right: 24px;
  background: var(--main-title);
}

.project-card-signature {
  /*  width: 328px;
  height: 56px;*/
  padding: 32px 16px 32px 16px;
}

/*Portfolio main. Row 1*/

/*Footer*/
footer {
  /*  width: 1440px;
  height: 312px;
  flex-shrink: 0;*/
  background: var(--brend-title-color);
  margin: 0;
  padding: 100px 0 100px 0;
}

.logo-box-footer {
  padding-top: 100px;
  padding-left: 156px;
}

.logo-studio-footer {
  color: var(--team-background);
}

.footer-text {
  color: var(--team-background);
  padding-left: 156px;
}
